
nav ul li:hover {
   background-color: #ff5252;
}

.sidenav li:hover {
    background-color: #ff5252;
}

#copyright {
    margin-top: 5px;
    margin-bottom: 10px;
}

#copyright:hover {
    color: #ff5252;
}

.brand-logo {
    font-family: 'Fredoka One', cursive;
 
}

@media screen and (max-width: 600px) {
 

   #logo {
       position: relative;
   }

   #logored {
       position: relative;
       padding: 5px;
   }
}


.input-field label {
     color: #ff5252;
   }




.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid #ff5252 !important;
 box-shadow: 0 1px 0 0  #ff5252 !important;
}


#register-header {
    font-family: 'Lato', sans-serif;
}



 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  main {
    flex: 1 0 auto;
  }

.flashes h4 {
    line-height: 2;
}


.card-panel {
    border-radius: 20px;
        opacity: 0.9;
}


#formregister {
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;

}

#register_button {
    border-radius: 10px;
    padding: 10 10 10 10px;
}



.recipe-container {
     opacity: 0.9;
    font-family: 'Open-sans', sans-serif;
}






.slider .btn {
  margin-top: 20px;
  padding: 20 60 60 20px;
  border-radius: 10px;

}




#discover_japan {
    font-family: 'Lato', sans-serif;
}


#row_flashes {
    font-family: 'Fredoka One', cursive;
    text-shadow: 1 1 1 2px black;
}


#username_profile {
    font-family: 'Fredoka One', cursive;
    text-shadow: 1 1 1 2px black;
}