nav ul li:hover {
   background-color: #ff5252;
}

.sidenav li:hover {
    background-color: #ff5252;
}



#copyright:hover {
    color: #ff5252;
}

.brand-logo {
    font-family: 'Fredoka One', cursive;
 
}

@media screen and (max-width: 600px) {
 

   #logo {
       position: relative;
   }

   #logored {
       position: relative;
       padding: 5px;
   }
}