{% extends "base.html" %}
{% block content %}




<main>



    <!--- Main Page Title-->
    
    <h4 class="center" style="font-family: 'Montserrat', sans-serif;">
       Submit <span class="red-text"> Your Recipe</span> 
       <hr>
    </h4>
	
<div class="container add-recipe">
<div class="row card-panel grey lighten-5">
        <form class=" col s12 " method="POST" action="{{ url_for('add_recipe') }}">
        <!-- Recipe Name-->
            
                <div class="input-field col s12">
                    <i class="fas fa-folder prefix black-text darken-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="30"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            
             <!----Category Name-->
            
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix black-text text-darken-4"></i>
                    <textarea id="category_name" name="category_name" minlength="3"
                        maxlength="10" class="materialize-textarea validate" required></textarea>
                    <label for="category_name">Category Name</label>
                </div>
            
             <!----Preparation and Cooking Time-->
            
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix black-text "></i>
                    <input id="prep_time" name="prep_time" type="text" class=" validate" required>
                    <label for="prep_time">Prep & Cooking Time</label>
                </div>
            

            <!-- Ingredients-->
			
				<div class="input-field col s12">
					<i class="fas fa-list prefix black-text "></i>
                    <input id="ingredients" name="ingredients" type="text" class=" validate" required>
                    <label for="ingredients">Ingredients</label>
						
				
				</div>
			
            <!----Method-->


				<div class="input-field col s16">
					<i class="fas fa-book-open prefix black-text "></i>
                    <input id="method" name="method" type="text" class=" validate" required>
                    <label for="method">Method</label>
						
				
				</div>
			

            <!-- Image URL -->
            
				<div class="input-field col s16">
					<i class="fas fa-image prefix black-text text-darken-4"></i>
                    <input id="image_url" name="image_url" type="text" class=" validate" required>
                    <label for="image_url">Image URL</label>
						
				
				</div>
			

            <!-- SUBMIT BUTTON-->
            <div class="row">
				<div class="input-field col s12">
					<button class="btn waves-effect waves-light red accent-2" type="submit" >Submit
                           <i class="fas fa-paper-plane fa-xs right"></i>
                 </button>
						
				
				</div>
			</div>
        </form>
    </div>

</div>
	</main>
 

{% endblock %}