{% extends "base.html" %}
{% block content %}


  <!-- Section: Slider -->
  <section class="slider s12 m12">
    <ul class="slides">
      <li>
        <img src="https://images.unsplash.com/photo-1516941392435-e677906765c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="
  background-repeat: no-repeat;
  background-size: cover;" alt="">
        <div class="caption center-align">
          <h2 class="black-text" id="discover_japan">Discover Japanese Recipes</h2>
          <h5 class="light black-text text-lighten-3 hide-on-small-only">"Japanese food makes me feel particularly good."</h5>
          <p class="grey-text"> - David Mitchell </p>
          <form class="example" action="action_page.php">
  <input class="black-text" type="text" placeholder="Search Recipe.." name="search">
  <button type="submit" class="btn btn-large red accent-2"><i class="fa fa-search"></i></button>
</form>
        </div>
      </li>
    
     
    </ul>
  </section>


<div class="recipe-container card-container">
	<div class="row center-align">

	{% for recipe in recipes %}


		<div class="col s12 m3" style="max-width: 100%;">
			<div class="card small">
				<div class="card-image">
					<img src="{{ recipe.image_url }}" class="responsive-img"></div>
					<div class="card-content">
						<span class="card-title"><b>{{ recipe.recipe_name }}</b></span>
						<span> <i class="fas fa-list-ul"></i> Category: {{ recipe.category_name}}</span><br>
						<span> <i class="fas fa-clock"></i>   Time: {{ recipe.prep_time }}</span><br></div>
						<div class="card-action">
							<a href="" class="red-text">Show Recipe</a></div>
					</div>
				</div>
		

				
		
            
    {% endfor %}
	</div>
		</div>


    <div class="parallax-container" style="max-height: 200px;">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1596352670192-5a95e357df7b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"></div>
    </div>


    <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
      <h4 class="center">
       Discover <span class="red-text"> Japan </span> 
      </h4>
      
    
      
      <div class="row" >
      <div class="card">
        <div class="col s12 m3">
          <img href="https://www.japan.travel/en/" class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" style="max-width: 100%;" alt="">
        </div>
        </div>
        <div class="col s12 m3">
        <div class="card">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1508504509543-5ca56440e013?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="" style="max-width: 100%;">
        </div>
        </div>
        <div class="card">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1516684808441-d7ca9141e63c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" alt="" style="max-width: 100%;">
        </div>
        </div>
        <div class="card">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1505069446780-4ef442b5207f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" alt="" style="max-width: 100%;">
        </div>
        </div>
      </div>

      
    </div>
  </section>

{% endblock %}