{% extends "base.html" %}
{% block content %}


  <!-- Section: Slider -->
  <section class="slider s12 m12">
    <ul class="slides">
      <li>
        <img src="https://images.unsplash.com/photo-1516941392435-e677906765c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="
  background-repeat: no-repeat;
  background-size: cover;" alt="">
        <div class="caption center-align">
          <h2 class="black-text" id="discover_japan">Discover Japanese Recipes</h2>
          <h5 class="light black-text text-lighten-3 hide-on-small-only">"Japanese food makes me feel particularly good."</h5>
          <p class="black-text"> - David Mitchell </p>
         <!-- searchbar -->
  <nav>
    <div class="nav-wrapper" id="searchbar">
      <form>
        <div class="input-field white">
          <input id="search" type="search" placeholder="Search recipe.." required>
          <label class="label-icon" for="search" placeholder="Search recipe.."><i class="fas fa-search red-text"></i></label>
          <i class="fas fa close"></i>
        </div>
      </form>
    </div>
  </nav>
      
        </div>
      </li>
    
     
    </ul>
  </section>
<!--cards recipes-->

<div class="recipe-container card-container">
	<div class="row center-align">

	{% for recipe in recipes %}


		<div class="col s12 m3" style="max-width: 100%;">
			<div class="card small recipe-card">
				<div class="card-image">
					<img src="{{ recipe.image_url }}" class="responsive-img"></div>
					<div class="card-content">
						<span><h6 class="title-card"><b>{{ recipe.recipe_name }}</b></h6></span>
						<span> <i class="fas fa-list-ul"></i> CATEGORY: {{ recipe.category_name}}</span><br>
						<span> <i class="fas fa-clock"></i>   TIME: {{ recipe.prep_time }}</span><br></div>
						<div class="card-action">
							<a href="" class="red accent-2 btn-small waves-light waves-effect">Show Recipe</a></div>
					</div>
				</div>
		

				
		
            
    {% endfor %}
	</div>
		</div>


<!--Embed Video-->
  <div class="video-responsive">
        <iframe width="900" height="506" src="https://www.youtube.com/embed/UF4jVfU4PkA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
<!--Gallery -->
    <section id="gallery" class="section section-gallery scrollspy">
    
    <div class="container">
      <h4 class="center">
       Discover <span class="red-text"> Japan </span> 
       <hr>
      </h4>
      
    
      
      <div class="row" >
      <div class="card">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" style="max-width: 100%;" alt="tokyo">
        </div>
        </div>
        
        <div class="card">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1516684808441-d7ca9141e63c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" alt="tokyo3" style="max-width: 100%;">
        </div>
        </div>
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1561503972-839d0c56de17?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" style="max-width: 100%;" alt="tokyo2">
        </div>
        <div class="card">
        <div class="col s12 m3">
          <img class="materialboxed responsive-img" src="https://images.unsplash.com/photo-1505069446780-4ef442b5207f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" alt="tokyo4" style="max-width: 100%;">
        </div>
        </div>
      </div>

      <hr>
    </div>
  </section>
<!--parallax-->
  <section>
  <div class="parallax-container" style="max-height: 200px;">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1519077204685-ed90d0cc05b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"></div>
    </div>

  </section>

{% endblock %}