{% extends "base.html" %}
{% block content %}




<main  class="background-profile">



    
    
    
    
    
	<section >
		
	
		<div class="row">
			<div class="col s12 m8 offset-m2"  >
				<div class="card-panel center-align grey lighten-5" id="formregister">
                <h3 class=" center-align red-text"><i>
                <div class="card-small profile">
                <img class="image-responsive center-align" src="https://cdn.iconscout.com/icon/free/png-512/japanese-food-819250.png" style="max-height: 75px; max-width: 75px;">
                </div>
                <!-- DISPLAY USERNAME -->
                <h3 class="center-align black-text" id="username_profile">Hello! {{ username }}</h3>
                <hr>
            </div>
                <!-- USER RECIPES-->




                </div>
                
                
			</div>
		</div>
	
	
	
		
	</main>
 

{% endblock %}