{% extends "base.html" %}
{% block content %}




 <main  class="background-profile">
		<div class="row">
			<div class="col s12 m8 offset-m2"  >
				<div class="card-panel center-align grey lighten-5" id="formregister">
                     <h3 class=" center-align red-text"><i>
                      <div class="card-small profile">
                          <img class="image-responsive center-align" src="https://cdn.iconscout.com/icon/free/png-512/japanese-food-819250.png" style="max-height: 75px; max-width: 75px;">
                       </div>
                             <!-- DISPLAY USERNAME -->
                           <h3 class="center-align black-text" id="username_profile">Hello! {{ username }}</h3>
                         <hr>
            </div>
        
                <!-- USER RECIPES-->
    <div class="row">
    {% for recipe in recipe %}
           <div class="col s12 m3" style="max-width: 100%;">
                <div class="card small recipe-card">
                       <div class="card-image">
                           <img src="{{ recipe.image_url }}" class="responsive-img" alt="recipe-image">
                      </div>
                     <div class="card-content">
                          
                          <h6 class="title-card"><b>{{ recipe.recipe_name }}</b></h6>
                         
                          <span> <i class="fas fa-list-ul"></i> CATEGORY: {{ recipe.category_name}}</span><br>
                         <span> <i class="fas fa-clock"></i> TIME: {{ recipe.prep_time }}</span><br>
                        </div>

                      <div class="card-action">
                         <div class="row">
                             <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                               class="red accent-2 btn-small waves-light waves-effect">Show</a>
                            </div>
                                  <!-- If session user is logged in, is allowed to see and edit/ delete functionality from its own recipe-->
                          {% if session.user|lower == recipe.created_by|lower %}
                              <div class="row">
                                     <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                  class="red accent-2 btn-small waves-light waves-effect">Edit
                                    </a>
                                         <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                             class="fas fa-trash-alt red accent-2 btn-small waves-light waves-effect">
                                       </a>

                              </div>
                         {% endif %}
                      </div>
                </div>
          </div>
        </div>
    {% endfor %}


                
                
                
			</div>
		</div>
	
	
	
		
	</main>
 

{% endblock %}