{% extends "base.html" %}
{% block content %}




<main  class="background-profile">



    
    
    
    
    
	<section >
		
	
		<div class="row">
			<div class="col s12 m8 offset-m2"  >
				<div class="card-panel center-align grey lighten-5" id="formregister">
                <h3 class=" center-align red-text"><i>
                <div class="card-small">
                <img class="image-responsive center-align" src="https://img.pngio.com/profile-icon-png-image-free-download-searchpngcom-profile-icon-png-673_673.png" style="max-height: 75px; max-width: 75px;">
                </div>
                <h3 class="center-align black-text" id="username_profile">{{ username }}'S RECIPES</h3>
                <hr>
                </div>
                

			</div>
		</div>
	
	
	
		
	</main>
 

{% endblock %}