{% extends "base.html" %}
{% block content %}




<main>

<!--parallax-->

    
    
    
    
    
	
		
	
		<div class="row">
			<form class="col s12 m8 offset-m2 " method="POST" action="{{ url_for('register') }}">
				<div class="card-panel  grey lighten-5">
                <h4 class="center-align black-text" id="register-header">REGISTER</h4>
					<!-- username -->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-user-plus black-text prefix" ></i>
							<input id="username" name="username" type="text" class="validate black-text">
							<label for="username" class="black-text">Username</label>
						</div>
					</div>
					<!-- passowrd -->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-lock black-text prefix "></i>
							<input id="password" name="password" type="password" class="validate black-text">
							<label for="password" class="black-text">Password</label>
						</div>
					</div>
					<!-- register -->
					<div class="row">
						<button type="submit" class="col s12 m8 offset-m2 waves-effect waves-light btn-large center-align red accent-2 darken-4 text-shadow">
	                        Register <i class="fas fa-sign-in-alt"></i>
	                    </button>
					</div>
				</div>
			</form>
		</div>
	
	
	
		
	</main>
 

{% endblock %}