{% extends "base.html" %}
{% block content %}




<main id="shop">
<h4 class="center" style="font-family: 'Montserrat', sans-serif;">
       Shop <span class="red-text"> Books</span> 
       <hr></h4>
<div class="row">
    <div class="col s12 m3">
      <div class="card small">
        <div class="card-image book-card">
          <img class="image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/51w7+rpA0CL._SX417_BO1,204,203,200_.jpg">
          
        </div>
        <div class="card-content center-align">
          <h6 class="book-title">Atsuko's Japanese Kitchen</h6>
         </div>
        
        <div class="card-action">
        <!-- CART BUTTON THAT OPENS A LINK IN A NEW TAB-->
              <a class="btn red accent-2 right waves-effect waves-light" target="_blank" href="https://www.amazon.co.uk/Atsukos-Japanese-Kitchen-Home-cooked-comfort/dp/1788790812/ref=sr_1_10?dchild=1&keywords=japanese+recipe+books&qid=1607218361&s=digital-skills&sr=1-10" class="right"><i class="fas fa-shopping-cart xs"></i></a>
        
        </div>
      </div>
    </div>


 <div class="col s12 m3">
      <div class="card small">
        <div class="card-image book-card">
          <img class="image-responsive" src="https://images-na.ssl-images-amazon.com/images/I/51gymd7dyyL._SX403_BO1,204,203,200_.jpg">
          
        </div>
        <div class="card-content center-align">
          <h6 class="book-title">Sushi Made Simple</h6>
         </div>
        
        <div class="card-action">
         <!-- CART BUTTON THAT OPENS A LINK IN A NEW TAB-->
              <a class="btn red accent-2 right waves-effect waves-light" target="_blank" href="https://www.amazon.co.uk/Sushi-Made-Simple-classic-burgers/dp/1849758840/ref=sr_1_28?dchild=1&keywords=japanese+recipe&qid=1607267802&sr=8-28" class="right"><i class="fas fa-shopping-cart xs"></i></a>
           
        </div>
      </div>
    </div>



   <div class="col s12 m3" >
      <div class="card small">
        <div class="card-image book-card">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51V300jRpYL._SX383_BO1,204,203,200_.jpg">
          
        </div>
        <div class="card-content center-align">
          <h6 class="book-title">Japanese Made Simple</h6>
        </div>
        <div class="card-action">
      <!-- CART BUTTON THAT OPENS A LINK IN A NEW TAB-->
              <a target="_blank" href="https://www.amazon.co.uk/Japanese-Cooking-Made-Simple-Authentic/dp/1623154669/ref=sr_1_3?dchild=1&keywords=japanese+recipe+books&qid=1607218361&s=digital-skills&sr=1-3" class="btn red accent-2 right waves-effect waves-light"><i class="fas fa-shopping-cart xs"></i></a>
             
        </div>
      </div>
    </div>




    <div class="col s12 m3">
      <div class="card small" >
        <div class="card-image book-card" >
          <img src="https://images-na.ssl-images-amazon.com/images/I/512fc1e2AeL._SX331_BO1,204,203,200_.jpg">
          
        </div>
        <div class="card-content center-align">
          <h6 class="book-title"> Ramen Cookbook </h6>
        </div>
        <div class="card-action">
            <!-- CART BUTTON THAT OPENS A LINK IN A NEW TAB-->
        
             <a target="_blank" href="https://www.amazon.co.uk/Ramen-Cookbook-Japanese-Everyday-Ingredients/dp/B087L6Q1BZ/ref=sr_1_4?dchild=1&keywords=japanese+recipe+books&qid=1607218361&s=digital-skills&sr=1-4" class="btn red accent-2 right waves-effect waves-light"><i class="fas fa-shopping-cart xs"></i></a>
           
        </div>
      </div>
    </div>

  </div>




</main>
    
    
    
    
    

 

{% endblock %}