{% extends "base.html" %} 
{% block content %}
<main id="view_recipe">
<h4 class="center" style="font-family: 'Montserrat', sans-serif;">
      <span class="red-text"> {{ recipe.recipe_name }}</span> 
       <hr>
    <div class="row container recipe">
    <div class="col s12 m12 16"><img class="responsive-img center" style="max-width: 100%" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}"></div>
    <div class="row">
    

<p class="username" style="font-size: 15px;">by {{ recipe.created_by }}</p>

<div class="row">
    <div class="col s12 center-align">
        <h6><b>INGREDIENTS</b></h6>
        <hr>
        <p style="font-size: 17px;">{{ recipe.ingredients }}</p>
    </div>


    


    <div class="col s12 center-align">
        <h6><b>TOTAL TIME</b></h6>
        <hr>
        <p style="font-size: 17px;">{{ recipe.prep_time }}</p>
    </div>
</div>

<div class="row">
    <div class="col s12">
    <h6><b>METHOD</b></h6>
    <hr>
        <p style="font-size: 17px;"> {{ recipe.method }}</p>
    </div>
</div>


<div class="row">
    <!-- If session user is logged in, is allowed to see edit and delete functionality from his own recipe-->
    {% if recipe.created_by == session.user %}
    <div class="col s12">
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light white-text btn red accent-2">Edit</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light white-text btn red accent-2">Delete</a>
    </div>

    {% endif %}
</div>

    </div>
    </div>
    
    
    
    
    
    
    
    </div>
</main>
{% endblock %}